---
import Layout from '../layouts/Layout.astro';
import CarouselRanking from '../components/CarouselRanking.astro';
import CarouselPruebas from '../components/CarouselInicio.astro';
import Banner from '../components/Banner.astro';
import Categ from '../components/Category.astro';
import Lectores from '../components/RankingLectores.astro';
import { db, User, Session, Libros } from 'astro:db';
import { eq } from 'astro:db';

const usuarios = await db.select().from(User);
const sesion = await db.select().from(Session);
const libros = await db.select().from(Libros);

if(Astro.locals.user){
  const user = Astro.locals.user;
  const usuarios = await db.select().from(User).where(eq(User.id, user.id));
  const [infoUser] = usuarios;
  const alias = infoUser.aliasUsuario;
}

---

<Layout title="BooKIFY">
	<main id="main">
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="mx-auto max-w-screen-sm text-center">
            <img src="/imagenes/Homer.jpg" alt="">
              <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-accent">404</h1>
              <p class="mb-4 text-3xl tracking-tight font-bold text-accent md:text-4xl">Algo ha salido mal.</p>
              <p class="mb-4 text-lg font-light text-gray-500">Lo sentimos, no se ha podido encontrar la página.</p>
              <a href="#" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">Back to Homepage</a>
          </div>   
      </div>
    </section>  
  </main>    

    
</Layout>