---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { db, Usuarios } from 'astro:db';

const usuarios = await db.select().from(Usuarios);
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>Usuarios</h2>
        {
            usuarios.map(({nombreUsuario}) => (
              <article>
                <p>Usuario: {nombreUsuario}</p>
                <iframe title="" allowfullscreen style="border:none;" width="300" height="300" src="https://www.pacdora.com/share?filter_url=ps3aycnabf&source=code" ></iframe>
              </article>
            ))
          }
	</main>

    
</Layout>
<script>
    function getAllBooks() {
        fetch('/api/books')
        .then(response => response.json())
        .then(data => {
        	console.log(data);
        })
        .catch(error => console.error('Error:', error));
    }
	getAllBooks();
  </script>
