---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		
	</main>
</Layout>
<script>
    function getAllBooks() {
        fetch('/api/books')
        .then(response => response.json())
        .then(data => {
        	console.log(data);
        })
        .catch(error => console.error('Error:', error));
    }
	getAllBooks();
  </script>
