---
import Layout from '../layouts/Layout.astro';
import InformacionLibro from '../components/InformacionLibro.astro';
import Sinopsis from '../components/Sinopsis.astro';

---

<Layout title="Información del libro">
    <section>
      <h1>Esta es la información del libro</h1>
      <p id="bookInfo"></p>
    </section>
    <InformacionLibro/>
    <Sinopsis/>
  </Layout>


  <script>
    const params = new URLSearchParams(location.search);
    const nombreAutor = params.get('nombreAutor');
    const tituloLibro = params.get('tituloLibro');
    const id = params.get('libro');
    // Mostrar la información del libro en pantalla
    const infoDiv = document.getElementById('bookInfo');
    if (infoDiv) {
        infoDiv.innerHTML = `
            <p>autor: ${nombreAutor}</p>
            <p>titulo: ${tituloLibro}</p>
            <p>titulo: ${id}</p>
        `;
    }
  </script>