---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { db, Usuarios} from 'astro:db';


---

<Layout title="Login">
	<main>
  <form id="login-form" method="post" action="/api/register" class="flex flex-col border border-black justify-center	content-center w-1/3">
    <input type="text" id="username" placeholder="Nombre de usuario" required>
    <input type="text" id="name" placeholder="Nombre" required>
    <input type="text" id="lastName" placeholder="Apellidos" required>
    <input type="email" id="email" placeholder="Correo electrónico" required>
    <input type="password" id="password" placeholder="Contraseña" required>
    <button type="submit">Registrarse</button>
  </form>
    <div id="message"></div>

	</main>
</Layout>

