<section>
    <div class="bg-gradient">
        <h1 class="fuente-1 text-5xl">Unete a nuestra comunidad</h1>
        <p class="fuente-2 my-5">Lorem ipsum dolor sit amet consectetur adipiscing elit vulputate, laoreet ultrices penatibus nunc dui porta vestibulum. Nisl facilisi conubia enim venenatis ut, dictumst praesent metus bibendum, dapibus eleifend malesuada etiam.</p>
        <button class="btn fuente-1 bg-button-registro">REGISTRATE</button>
    </div>
</section>