<section>
  <h1 class="fuente-1 text-accent text-3xl ms-5 ps-5 mb-5 mt-5">Lo más popular</h1>
  
  <div class="carousel carousel-center overflow-x-auto p-3 space-x-10 rounded-box" style="width:100%; padding-left: 57px;">
    <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div> 
      <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>        
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div> 
      <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div> 
      <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div> 
      <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div> 
      <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div> 
      <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div> 
      <div class="carousel-item" data-bs-interval="10000" style="position: relative;">
        <a href="InfoLibro">
            <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 35px;margin-left: 24px;width: 149px;height: 240px;position: relative;z-index: 0;" />
        </a>
        <div class="radial-progress bg-neutral-content text-accent border-4 border-neutral-content" style="--value:70;left: -200px;top: 85%;transform: translateY(-50%);" role="progressbar">70%</div>
      </div>
  </div>
</section>