<section>
    <div class="flex" style="height:73vh">
        <div class="carousel">
            <div id="slide1" class="carousel-item relative w-full" >
              <img src="/imagenes fondo/perdioLaCorduraFondo.png" style="height:93%" />
              <img src="/imagenes/perdioLaCordura-removebg-preview.png" class="rounded-box" style="margin-top: 285px;left: -209px;height: 263px;position: relative;" />

              <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2" style="height: 75%;top: 238px;">
                <a href="#slide3" class="btn glass" style="height: 107%; border: none;">❮</a> 
                <a href="#slide2" class="btn glass" style="height: 107%; border: none;">❯</a>
              </div>
            </div> 
            <div id="slide2" class="carousel-item relative w-full" >
                <img src="/imagenes fondo/cuentoDeHadasFondo.png" style="height:93%"/>
                <img src="/imagenes/cuentoDeHadas-removebg-preview.png" class="rounded-box" style="margin-top: 285px;left: -209px;height: 263px;position: relative;" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2" style="height: 75%;top: 238px;">
                  <a href="#slide1" class="btn glass" style="height:107%; border: none;">❮</a> 
                  <a href="#slide3" class="btn glass" style="height:107%; border: none;">❯</a>
                </div>
            </div>
            <div id="slide3" class="carousel-item relative w-full" >
                <img src="/imagenes fondo/elCucoCristalFondo.png" style="height:93%"/>
                <img src="/imagenes/ElCucoCristal-removebg-preview.png" class="rounded-box" style="margin-top: 285px;left: -209px;height: 263px;position: relative;" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2" style="height: 75%;top: 238px;">
                  <a href="#slide2" class="btn glass" style="height:107%; border: none;">❮</a> 
                  <a href="#slide1" class="btn glass" style="height:107%; border: none;">❯</a>
                </div>
            </div>
        </div>
        



        <div class="" style="width:150vw">
            <h1 class="fuente-1 text-accent text-4xl ms-5 ps-8 mb-5 mt-2">Novedades</h1>
            <ul class="menu w-100 rounded-box">
                <li>
                    <a>
                        <div class="flex items-center justify-between border-b-2 pb-2" style="width:33vw">
                            <div class="" style="margin-left:4vw;">
                                <p class="fuente-2 uppercase" style="color:#242A33; font-size:1.2em">El arte de engañar al karma</p>
                                <p class="fuente-2" style="color:#55595A;">Elisabet Benavent</p>
                            </div>
                            <div>
                                <img style="width: 67px;height: 124px;" src="/imagenes/Karma.png" alt="">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="flex items-center justify-between border-b-2 pb-2" style="width:33vw">
                            <div class="" style="margin-left:4vw;">
                                <p class="fuente-2 uppercase" style="color:#242A33; font-size:1.2em">El arte de engañar al karma</p>
                                <p class="fuente-2" style="color:#55595A;">Elisabet Benavent</p>
                            </div>
                            <div>
                                <img style="width: 67px;height: 124px;" src="/imagenes/Karma.png" alt="">
                            </div>
                        </div>
                    </a>
                </li>               
                <li>
                    <a>
                        <div class="flex items-center justify-between border-b-2 pb-2" style="width:33vw">
                            <div class="" style="margin-left:4vw;">
                                <p class="fuente-2 uppercase" style="color:#242A33; font-size:1.2em">El arte de engañar al karma</p>
                                <p class="fuente-2" style="color:#55595A;">Elisabet Benavent</p>
                            </div>
                            <div>
                                <img style="width: 67px;height: 124px;" src="/imagenes/Karma.png" alt="">
                            </div>
                        </div>
                    </a>
                </li>
              </ul>
        </div>
    </div>
</section>