<section>
    <h1 class="fuente-1 text-secondary-dark text-4xl ml-32 my-5 py-5">Explora por categorías</h1>

    <div class="flex flex-wrap justify-center">
         <div class=" h-44 w-60 p-4   m-10 text-center text-white bg-gradient-to-r from-custom-brown to-custom-pink">
            <h5 class="mb-1" style="font-size: 30px;">Suspense</h5>
            <div>
                <a class="flex flex-row justify-center items-center transition-transform hover:translate-x-1" href="busquedaLibros?categ=Suspense">
                    <p class="">Ver todos los libros</p>
                    <svg class="w-5 ml-3 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                </a>
            </div>
            <img class="ml-14 mt-4 w-20 transition-transform hover:scale-110" src="/imagenes/suspenseGenero.webp">
        </div>
        <div class=" h-44 w-60 p-4   m-10 text-center text-white bg-gradient-to-r from-custom-green to-custom-blue">
            <h5 class="mb-1" style="font-size: 30px;">Romance</h5>
            <div>
                <a class="flex flex-row justify-center items-center transition-transform hover:translate-x-1" href="busquedaLibros?categ=Romance">
                    <p>Ver todos los libros</p>
                    <svg class="w-5 ml-3 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                </a>
            </div>
            <img class="ml-14 mt-4 w-20 transition-transform hover:scale-110" src="/imagenes/romanceCategoria.webp">
        </div>
        <div class=" h-44 w-60 p-4   m-10 text-center text-white bg-gradient-to-r from-custom-red to-custom-orange">
            <h5 class="mb-1" style="font-size: 30px;">Terror</h5>
            <div>
                <a class="flex flex-row justify-center items-center transition-transform hover:translate-x-1" href="busquedaLibros?categ=Terror">
                    <p>Ver todos los libros</p>
                    <svg class="w-5 ml-3 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                </a>
            </div>
            <img class="ml-14 mt-4 w-20 transition-transform hover:scale-110" src="/imagenes/terrorCategoria.webp">
        </div>        
        <div class=" h-44 w-60 p-4   m-10 text-center text-white bg-gradient-to-r from-custom-violet to-custom-lila">
            <h5 class="mb-1" style="font-size: 30px;">Fantasia</h5>
            <div>
                <a class="flex flex-row justify-center items-center transition-transform hover:translate-x-1" href="busquedaLibros?categ=Fantasia">
                    <p>Ver todos los libros</p>
                    <svg class="w-5 ml-3 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                </a>
            </div>
            <img class="ml-14 mt-4 w-20 transition-transform hover:scale-110" src="/imagenes/fantasiaGenero.webp">
        </div>
    </div>
</section>