<section class="bg-secondary text-white p-40 py-10 m-16 rounded-xl">
    <h1 class="text-4xl text-primary" >Comentarios</h1>
    <div class="flex flex-row mt-10 p-8 ">
        <div class="flex flex-col items-center mr-5">
            <img src="/public/users/userChica.png" class="w-20" alt="">
            <p class="mt-4">NombreUsuario</p>  
        </div>
        <div class="chat chat-start">
            <div class="chat-bubble bg-slate-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam et quisquam! Mollitia earum odio quisquam laboriosam consequuntur sed fugiat ducimus, sunt incidunt hic! Excepturi minus aperiam nulla. Laboriosam, unde?</div>
        </div>  
    </div>
    <div class="flex flex-row mt-10 p-8">
        <div class="flex flex-col items-center mr-5">
            <img src="/public/users/userChica.png" class="w-20" alt="">
            <p class="mt-4">NombreUsuario</p>  
        </div>
        <div class="chat chat-start">
            <div class="chat-bubble bg-slate-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam et quisquam! Mollitia earum odio quisquam laboriosam consequuntur sed fugiat ducimus, sunt incidunt hic! Excepturi minus aperiam nulla. Laboriosam, unde?</div>
        </div>  
    </div>
    <div class="flex flex-row mt-10 p-8 ">
        <div class="flex flex-col items-center mr-5">
            <img src="/public/users/userChica.png" class="w-20" alt="">
            <p class="mt-4">NombreUsuario</p>  
        </div>
        <div class="chat chat-start">
            <div class="chat-bubble bg-slate-700">Me ha parecido muy bien</div>
        </div>  
    </div>
</section>