<footer class="footer px-36 py-10 bg-secondary text-base-content">
    <aside class="justify-items-center">
      <img class="w-40" src="/public/imagenes/logo.png" alt="">  
      <button class="btn fuente-1 bg-button-registro">REGISTRATE</button>
    </aside> 
    <nav>
      <h6 class="footer-title text-quaternary">Services</h6> 
      <a class="link link-hover  text-quaternary">Branding</a>
      <a class="link link-hover  text-quaternary">Design</a>
      <a class="link link-hover  text-quaternary">Marketing</a>
      <a class="link link-hover  text-quaternary">Advertisement</a>
    </nav> 
    <nav>
      <h6 class="footer-title  text-quaternary">Company</h6> 
      <a class="link link-hover  text-quaternary">About us</a>
      <a class="link link-hover  text-quaternary">Contact</a>
      <a class="link link-hover  text-quaternary">Jobs</a>
      <a class="link link-hover  text-quaternary">Press kit</a>
    </nav> 
    <nav>
      <h6 class="footer-title  text-quaternary">Legal</h6> 
      <a class="link link-hover  text-quaternary">Terms of use</a>
      <a class="link link-hover  text-quaternary">Privacy policy</a>
      <a class="link link-hover  text-quaternary">Cookie policy</a>
    </nav>
  </footer>




