<section>
    <h1 class="fuente-1 text-primary text-4xl ml-32 mt-24 my-5 py-5">Los más lectores</h1>

    <div class="grid justify-items-center grid-cols-2 ml-10">
        <div class="flex flex-row items-center mb-8">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>
        </div>
        <div class="flex flex-row items-center mb-8">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>

        </div>

        <div class="flex flex-row items-center mb-8">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>

        </div>

        <div class="flex flex-row items-center  mb-8 ">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>

        </div>
        <div class="flex flex-row items-center  mb-8 ">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>

        </div>
        <div class="flex flex-row items-center  mb-8 ">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>

        </div>
        <div class="flex flex-row items-center  mb-8 ">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>

        </div>
        <div class="flex flex-row items-center mb-8 ">
            <img class="w-20" src="/public/imagenes/fotoLectora.webp" alt="">
            <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                <div class="bg-tertiary h-2.5 rounded-full" style="width: 45%"></div>
            </div>
            <p class="ml-8">10 libros</p>

        </div>
    </div>
    
</section>
