---
import { db, User, eq, desc, count, ListaTerminados, Libros } from 'astro:db';

const librosTotales = await db.select({ value: count() }).from(Libros);

var cantidadLibros = librosTotales[0].value;
//sacamos los usuarios con mas cantidad de libros leidos y los ordenamos
const librosRankingLectores = await db.select({ cantidad: count(ListaTerminados.idLibro), 
                                                aliasUsuario: User.aliasUsuario,
                                                generoUsuario: User.generoUsuario})
                        .from(User)
                        .innerJoin(ListaTerminados, eq(ListaTerminados.idUsuario, User.id))
                        .groupBy(User.id)
                        .orderBy(desc(count(ListaTerminados.idLibro)))
                        .limit(8);
---

<section class="pb-20">
    <h1 class="fuente-1 text-secondary-dark text-4xl ml-32 mt-24 my-5 py-5 ">Los más lectores</h1>

    <div class="grid justify-items-center grid-cols-2 ml-10">
        {
            librosRankingLectores.map(({cantidad, aliasUsuario, generoUsuario}) =>(//recorremos todos los lectores obtenidos en la select y mostramos
                <div class="flex flex-row items-center mb-8">
                    <div class="flex flex-col items-center">
                        {
                            generoUsuario === "H" ? (
                            <img class="w-20" src="/users/userChico.png" alt="">
                            ) : generoUsuario === "M" ? (
                            <img class="w-20" src="/users/userChica.png" alt="">
                            ) : null
                        }
                        <p>{aliasUsuario}</p>
                    </div>
                <div class="ml-8 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" style=" width:25vw">
                    <div class="bg-tertiary h-2.5 rounded-full" style={`width: ${(cantidad * 100) / cantidadLibros}%`}></div>
                </div>
                <p class="ml-8">{cantidad} libros</p>
                </div>
            ))
        }
    </div>
</section>
