---

---
<section id="seccionSinopsis" class="bg-secondary text-white p-40 py-10 m-16 rounded-xl">
    <h1 class="text-4xl text-tertiary" >Sinopsis</h1>
    <p id="sinopsisLibro" class="fuente-2 mt-8" ></p>

    <div class="flex flex-row justify-between">
        <div class="flex flex-col items-center">
            <h1 class="text-3xl text-tertiary mt-10" >Número de páginas</h1>
            <p id="numPaginasLibro" class="fuente-2 mt-8" ></p>
        </div>
        <div class="flex flex-col items-center">
            <h1 class="text-3xl text-tertiary mt-10" >Fecha de publicación</h1>
            <p id="fechaPubliLibro" class="fuente-2 mt-8" ></p>
        </div>
        <div class="flex flex-col items-center">
            <h1 class="text-3xl text-tertiary mt-10" >Género</h1>
            <p id="generoLibro" class="fuente-2 mt-8" ></p>
        </div>
    </div>
    <h1 class="text-4xl text-tertiary mt-10" >Más del autor</h1>
    <div id="divLibrosAutor" class="carousel carousel-center overflow-x-auto p-3 space-x-20 rounded-box bg-cover"></div>
    <div id="mensajeNoLibros" class="fuente-2 mb-8"></div>
</section>