---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/bebas-neue'; 
import '@fontsource/open-sans/300.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--primary: #242A33;
		--secondary: #9ADCB9;
		--secondary-dark: #5AC7AA;
		--tertiary: #E5BB85;
		--quaternary: #D1D0CB;
	}
	html {
		font-family: 'Bebas Neue' ,sans-serif;
		background: #fff;
		background-size: 224px;
		letter-spacing: 2px;

	}

	.fuente-1{
		font-family: 'Bebas Neue' ,sans-serif;
		letter-spacing: 1px
	}
	.fuente-2{
		font-family: 'Open Sans', sans-serif;
	}
	.btn-circle{
		width: 4em !important;
		height: 4em !important;
		margin-left: 5vw;
	}
	.bg-gradient{
		background: linear-gradient(to right, var(--primary), #3D3D3D);
		padding: 3vw 6vw 3vw 6vw; 
		color: white;
	}

	.bg-button-registro{
		height: 3em;
		font-size: 1.4em !important;
		font-weight: 300;
		background-color: var(--secondary) !important;
		padding: 1vw 2vw 1vw 2vw !important;
		border-radius: 6px !important;
		border: none;
		color: white !important;
	}
	.bg-button-registro:hover{
		background-color: var(--secondary-dark) !important;
	}
	.carousel{
		scrollbar-width:thin;
		scrollbar-color: var(--secondary-dark) #f6f6f6;
	}
	#divLibrosAutor{
		scrollbar-width: thin;
		scrollbar-color: var(--secondary-dark) var(--primary);
	}

	.steps .step-secondary-dark + .step-secondary-dark:before,
	.steps .step-secondary-dark:after {
		--tw-bg-opacity: 1;
		background-color: var(--secondary-dark, oklch(var(--p) / var(--tw-bg-opacity)));
		--tw-text-opacity: 1;
		color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity)));
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.list .item{
		width: 100%;
		height: 99%;
		position: absolute;
		inset: 0 0 0 0;
	}

	.list .item img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		animation: showContent 1s ease-in-out 1 forwards;
	} 

	@keyframes showContent {
		from{
			clip-path: circle(0% at 70% 50%);
		}to{
			clip-path: circle(100% at 70% 50%);
		}
	}

	.thumbnail {
		width: 10vw;
		height: 0;
		margin-bottom: 70vw;
	}
	.content{
		margin-left: 6vw;
		font-size: 1vw;
		position: absolute;
		top: 10vw; 
		color:#f6f6f6;
		width: 50vw;
	}
	.title{
		font-size: 3vw;
		font-weight: bold;
	}
	.type{
		font-size: 1.5vw;
		font-weight: bold;
		color:#5AC7AA;
	}
	.description{
		margin-top: 1.2vw;
		margin-bottom: 1.2vw;
	}
	.list .item .content .button{
		margin-top: 2em;
		z-index: 100;
	}

	.list .item .content .button a{
		background-color: #5AC7AA;
		font-size: large;
		padding: 1em;
		border-radius: 10px;
		transition: 0.5s;
		cursor: pointer;
	}
	.list .item .content .button a:hover{
		background-color: #242A33;
		font-size: large;
		color:#5AC7AA;
		transition: 0.5s;
	}
	
	.imagen{
		margin-left: 50vw;
		height: 0;
	}

	.thumbnail .item {
		width: 40vw;
	}
	.thumbnail .item a img{
		width: 100vw;
	}

	.prev, .next{
		padding: 1em;
		border-radius: 50%;
		color: white;
		z-index: 100;
	}
	.next{
		margin-left: 25vw;
	}
	.prev{
		margin-right: -5vw;
	}
	.prev:hover, .next:hover{
		padding: 1em;
		border-radius: 50%;
		background-color: #7e7d7d;
		color: white;
		transition: 0.5s;
	}
	.current{
		transform: scale(0.5);
	}

	.actual{
		display: block;
	}

	@media (max-width: 1024px) {
		
		.title{
			font-size: 4vw;
			font-weight: bold;
		}
		.type{
			font-size: 3vw;
			font-weight: bold;
			color:#5AC7AA;
		}
		.description{
			width: 30vw;
			font-size: 1.8vw
		}
		.thumbnail .item {
			width: 50vw;
		}
		.imagen{
			margin-left: 40vw;
			
		}
		.thumbnail {
			width: 10vw;
			height: 0;
			margin-bottom: 85vw;
			margin-right: 5vw;
		}
		.next{
			margin-left: 25vw;
		}
		.prev{
			margin-right: -10vw;
		}
	}
	@media (max-width: 1440px) {
		.content{
			width: 50vw;
		}
		.title{
			font-size: 3vw;
			font-weight: bold;
		}
		.type{
			font-size: 2vw;
			font-weight: bold;
			color:#5AC7AA;
		}
		.description{
			width: 50vw;
			font-size: 1.5vw
		}
	
	}
</style>
