---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/bebas-neue'; 
import '@fontsource/open-sans/300.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--primary: #242A33;
		--secondary: #9ADCB9;
		--secondary-dark: #5AC7AA;
		--tertiary: #E5BB85;
		--quaternary: #D1D0CB;
	}
	html {
		font-family: 'Bebas Neue' ,sans-serif;
		background: #fff;
		background-size: 224px;
		letter-spacing: 2px;

	}

	.fuente-1{
		font-family: 'Bebas Neue' ,sans-serif;
		letter-spacing: 1px
	}
	.fuente-2{
		font-family: 'Open Sans', sans-serif;
	}
	.btn-circle{
		width: 6em !important;
		height: 6em !important;
		margin-left: 5vw;
	}
	.bg-gradient{
		background: linear-gradient(to right, var(--primary), #3D3D3D);
		padding: 3vw 6vw 3vw 6vw; 
		color: white;
	}

	.bg-button-registro{
		height: 3em;
		font-size: 1.4em !important;
		font-weight: 300;
		background-color: var(--secondary) !important;
		padding: 1vw 2vw 1vw 2vw !important;
		border-radius: 6px !important;
		border: none;
		color: white !important;
	}
	.bg-button-registro:hover{
		background-color: var(--secondary-dark) !important;
	}
	.carousel{
		scrollbar-width:thin;
		scrollbar-color: var(--secondary-dark) #f6f6f6;
	}
	#divLibrosAutor{
		scrollbar-width: thin;
		scrollbar-color: var(--secondary-dark) var(--primary);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
